// @import "bourbon";

// Шрифты
$dFont: 'Play', sans-serif;
$aFont: false;

// Цвета, https://flatuicolors.com/
$bColor : #505050;
$gColor : #696969;
$gbColor: #efefef;

$aColor : #e17055;
$aColor2: #34495e;


// Анимация
$trs: .15s;