/* Demo styles here... */
input,
select,
textarea {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 5px;
}

label {
	display: block;
	vertical-align: middle;
}

input[type=checkbox],
input[type=radio] {
	display: inline;
	width: auto;
	margin: 0 5px;
	position: relative;
	top: 2px;
}

.sendmail {
	max-width: 450px;
	margin: 0 auto;
}

.send-mail-container h2 {
	margin-top: 60px;
}

.send-mail-container h3 {
	margin-top: 30px;
}

pre {
	background-color: #f5f5f5;
	padding: 12px 10px;
}

code {
	display: inline-block;
	background-color: #eee;
	padding: 3px 7px;
	margin: 2px 5px;
}

form label.error {
	color: #fff;
	background-color: #ff8686;
	padding: 3px 8px;
	font-size: 15px;
}
